body {



    background-color: rgb(220, 237, 243);
}

.box-sec {
    padding: 30px;
    background-color: white;
    max-width: 1000px;
    margin: 10px auto;
    border-radius: 10px;
}

.heading {
    color: rgb(152, 69, 231);
    font-size: 2em;
    font-weight: bold;
}

.top-player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.player,
.blog {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}

.player img {
    width: 20%;
    margin-right: 15px;
}

.player h3 {
    font-size: 1.3em;
}

.top-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blog img {
    width: 50%;
}

.box {
    margin-left: 20px;
}

.box h3 {
    font-size: 1.5em;
}

.author {
    color: blueviolet;
}

.box p {
    color: gray;
}

.course {
    box-shadow: 3px 3px lightgray;
    margin: 20px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;

}

.course img {
    width: 85%;

}